@import url('https://fonts.googleapis.com/css?family=Vibes&display=swap');

body {
    font-family: 'Vibes', cursive;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url("../resources/fondo.jpg");
    background-size: 100% 100%;
    margin: 0px;
}

h1, h2{
    margin: 0px;
    padding: 1em;
}

section {
    padding: 1em;
}

button {
    text-align: center;
    padding: 1em;
}

p {
    text-align: left;
}

.buttons {
    text-align: center;
}

.buttons div {
    width: auto;
    height: auto;
    display: inline-block;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
            
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
              
.estaciones div {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
}

.spring {
    padding-left: 1em;
    background-image: url("../resources/spring-bg.jpg");
    background-size: 100% 100%;
    border: 2px solid black;
}

.summer {
    padding-right: 1em;
    background-image: url("../resources/summer-bg.jpg");
    background-size: 100% 100%;
    border: 2px solid black;
}

.autumn {
    padding-left: 1em;
    background-image: url("../resources/autumn-bg.jpg");
    background-size: 100% 100%;
    border: 2px solid black;
}

.winter {
    padding-right: 1em;
    background-image: url("../resources/winter-bg.jpg");
    background-size: 100% 100%;
    border: 2px solid black;
}

.spring-content, .autumn-content {
    float: left;
}

.summer-content, .winter-content {
    float: right;
}